@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
}

body {
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', serif, 'Spoqa Han Sans Neo',
        sans-serif;
}

.spoqa {
    font-family: 'Spoqa Han Sans Neo', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#wrap {
    overflow-x: hidden;
}

.inner {
    max-width: calc(100% - 400px);
    margin: 0 auto;
}

/* @media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}
*/
@media (max-width : 1920px) {
    section {
        margin-bottom: 150px;
    }
}

@media (max-width : 1024px) {
    .inner {
        max-width: calc(100% - 200px);
    }

    section {
        margin-bottom: 100px;
    }
}

@media (max-width : 768px) {
    .inner {
        max-width: calc(100% - 100px);
    }

    section {
        margin-bottom: 50px;
    }
}

#container .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

/* header시작 */

#header {
    position: absolute;
    border: 1px solid blue;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#header .header_logo {
    margin: 0 80px;
}

#header .gnb {
    display: flex;
}

#header .gnb>li {
    border: 1px solid red;
}

#header .gnb>li>a {
    display: block;
    padding: 20px;
}

#header .mypage {
    position: absolute;
    right: 30px;
}

/* header 끝 */


/* main_banner 시작 */


/* main_banner 끝 */

/* course 시작 */
#course .course_txt {
    text-align: center;
}

#course .course_txt p {
    font-size: 2rem;
    padding-top: 30px;
}

#course .course_list ul {
    margin-top: 50px;
}

#course .course_list ul a:first-child li {
    background-color: #EAF0F6;
}

#course .course_list ul a:nth-child(2) li {
    background-color: #F2EAFF;
}

#course .course_list ul a:nth-child(3) li {
    background-color: #F8E8FF;
}

#course .course_list ul a:nth-child(4) li {
    background-color: #E4E4EF;
}

#course .course_list ul a:nth-child(5) li {
    background-color: #ECEEFF;
}

#course .course_list ul a:nth-child(6) li {
    background-color: #FFF3EB;
}

#course .course_list ul a:last-child li {
    background-color: #E9FAF5;
}

#course .course_list ul a li {
    position: relative;
    font-size: 1.8rem;
    background-color: beige;
    padding: 30px 0;
    padding-left: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: background 0.3s, color 0.3s;
}

#course .course_list ul a li:hover {
    background-color: #4000c7;
    color: #FFF;
}


#course .course_list .recruit {
    position: absolute;
    left: 0;
    top: -10px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
}

#course .course_list li .list_title {
    font-size: 2.4rem;
    font-weight: 700;
}

/* course 끝 */

/* bootcamp 시작 */
#bootcamp .bootcamp_txt {
    margin-bottom: 50px;
}

#bootcamp .inner .bootcamp_list {
    display: flex;
    flex-direction: column;
    color: #Fff;

}

#bootcamp .inner .bootcamp_list dl {
    position: relative;
    background-color: #E9FAF5;
    width: 50%;
    height: 364px;
    border-radius: 30px;

}

#bootcamp .inner .bootcamp_list dl:nth-child(even) {
    align-self: flex-end;
}

#bootcamp .inner .bootcamp_list dl:first-child {
    background: url("../images/main/benefit-1.png") no-repeat center center;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(2) {
    background: url("../images/main/benefit-2.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(3) {
    background: url("../images/main/benefit-3.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(4) {
    background: url("../images/main/benefit-4.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:last-child {
    background: url("../images/main/benefit-5.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl dt {
    position: absolute;
    bottom: 140px;
    left: 30px;
    font-size: 2.4rem;
    text-decoration: underline;
}

#bootcamp .inner .bootcamp_list dl dd {
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-size: 2.4rem;
}

/* bootcamp 끝 */

/* review 시작 */
#review .review_txt {
    margin-bottom: 50px;
}

#review .review_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#review .review_img img {
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8E39FC 0%, #001B66 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 3px;
    width: 300px;
    height: 300px;
    display: block;
}

#review .review_desc {
    height: 300px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#review .review_desc dt {
    font-weight: 700;
    color: #4000c7;
    font-size: 3rem;

}

#review .review_desc dl dt {
    font-size: 2rem;
    font-weight: 400;
}

#review .review_btn {
    text-align: center;
    margin-top: 50px;
}

#review .review_btn .btn_more {
    display: inline-block;
    background-color: #8E39FC;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

#review .review_btn .btn_more:hover {
    color: #fff;
    background-color: #4000c7;
}

/* review 끝 */

/* status 시작 */
#status {
    background: #eee;
    padding: 200px 0;
}

#status .status_txt {
    margin-bottom: 50px;
}

#status .status_list {
    display: flex;
    justify-content: center;
}

#status .status_list dl {
    width: calc((100% - 50px) / 2);
    text-align: center;
    height: 300px;

}

#status .status_list dl dt {
    font-size: 2rem;
    color: #999;
}

#status .status_list dl dd {
    font-size: 4rem;
    font-weight: 700;
}

#status .status_list dl:first-child {
    background: url("../images/main/outcomes-1.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list dl:nth-child(2) {
    background: url("../images/main/outcomes-2.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#status .status_list2 dl {
    width: calc((100% - 75px) / 3);
    text-align: center;
    height: 300px;

}

#status .status_list2 dl dt {
    font-size: 2rem;
    color: #999;
}

#status .status_list2 dl dd {
    font-size: 4rem;
    font-weight: 700;
}

#status .status_list2 dl:first-child {
    background: url("../images/main/outcomes-3.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 dl:nth-child(2) {
    background: url("../images/main/outcomes-4.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 dl:last-child {
    background: url("../images/main/outcomes-5.png") no-repeat center bottom;
    background-size: 200px 200px;
}

/* status 끝 */

/* logo 시작 */
#logo {
    width: 100%;
}


#logo .animation {
    position: relative;
    height: 200px;
}

#logo .logo_slide1 {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/main/logoslide1.png") repeat-x left top;
    animation: ani 20s linear infinite;
}


#logo .logo_slide2 {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/main/logoslide2.png") repeat-x left top;
    animation: ani2 20s linear infinite;
}

#logo .logo_slide2 img {
    height: 30px;
    margin-right: 50px;
}

@keyframes ani {
    0% {
        background-position: 0px 0px;
    }


    100% {

        background-position: 2400px 0px;
    }

}

@keyframes ani2 {
    0% {
        background-position: 3000px 0px;
    }

    100% {
        background-position: 0px 0px;
    }

}

/* logo 끝 */